
*.log

StartUp/Configuration/

4. KG_GameServer/LOG/CONNECT_LOG/

4. KG_GameServer/LOG/CHAT_LOG/

4. KG_GameServer/LOG/CASH_SHOP_LOG/

4. KG_GameServer/LOG/LOG_GAMESERVER/

4. KG_GameServer/LOG/LUA_LOG/

KG-Emulator \[Tools\]/KG_Editor Monedas\+Ruud/

4. KG_GameServer/LOG/COMMAND_LOG/

4. KG_GameServer/LOG/TRADE_LOG/

4. KG_GameServer/LOG/LUA_EVENT_DELAY_LOG/
